<%= render 'shared/errors', obj: @article%>

<div class="form-container" >
    <%= form_for(@article, :html=>{class: "form-horizontal", role: "form"}) do |f|  %>
        <div class="form-group">
            <%= f.label :title, class: "col-sm-2 control-label" %>
            <div class="col-sm-7">
                <%= f.text_field :title, class: "form-control" %>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :description, class: "col-sm-2 control-label" %> 
            <div class="col-sm-7">
                <%= f.text_area :description, class: "form-control" %>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :category, class: "col-sm-2 control-label"%>
            <div class="col-sm-7 select-category-box">
                <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
                    <%= cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text}%>
                <%end%>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-7 col-sm-offset-2">
                <%= f.submit class: "btn btn-primary"%>
            </div>
        </div>
    <%end%>
</div>
<br/>
